@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-items>a {
    font-size: 14px;
    padding: 0px 10px;
}

.nav-items>a:hover {
    color: red;
    transition: 250ms;
}

.nav-items :nth-last-child(1) {
    padding: 0px;
}

/* nav end */

/* carouselstart */
.carousel__boxes .box{
width: 100px;
height: 100px;
background-color: red;
border-radius: 20px 0px 20px 0px;

}
