@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen {
    
}
@media only screen and (max-width: 500px) {
    .wrapper{
        width: 100%;
        margin: auto;

    }
    
}
@media only screen and (min-width: 500px) {
    .wrapper{
        width: 70%;
        margin: auto;

    }
    
}
.wrapper{
    background-color: red;
}
